{% extends 'layout_user.html' %}
{% block content %}
    <div class="container">

    <div>
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/user/add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建用户
            </a>
            <a class="btn btn-success" href="/user/model_add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建用户modelform
            </a>
        </div>

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
           <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          部门列表
      </div>

      <!-- Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名称</th>
            <th>密码</th>
            <th>年龄</th>
            <th>账户余额</th>
            <th>创建时间</th>
            <th>性别</th>
            <th>部门</th>
            <th>操作</th>

          </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
          <tr>
            <th>{{ obj.id }}</th>
            <td>{{ obj.name }}</td>
            <td>{{ obj.pwd }}</td>
            <td>{{ obj.age }}</td>
            <td>{{ obj.account }}</td>
            <td>{{ obj.creat_data|date:"Y-m-d" }}</td>
            <td>{{ obj.get_gender_display}}</td>
            <td>{{ obj.depart.title}}</td>
            <td class="btn btn-primary btn-xs"><a href="/user/{{ obj.id }}/edit" style="color: white">编辑</a></td>
              <td class="btn btn-danger btn-xs" ><a href="/user/{{ obj.id }}/delete" style="color: white">删除</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    </div>
</div>

    </div>
{% endblock %}